<h2>HEROES</h2>

<app-hero-search></app-hero-search>

<div>
  <label>Add Hero: <input #heroName /></label>
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a [routerLink]="['/hero', hero.id]">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>



<button routerLink="/sidekicks">Go to sidekicks (which don't exist)</button>
