<a [routerLink]="['']">Home</a>&nbsp;
<!-- (3) A link to navigate to the chat route in the outlet named aux -->
<a [routerLink]="['', {outlets: { aux: 'chat'}}]">Open Chat</a>&nbsp;
<!-- A link to remove the outlet named aux from the UI -->
<a [routerLink]="[{outlets: {aux: null}}]">Close Chat</a>
<br />

<!-- (4.1) To separate the rendering of components for primary and secondary outlets,
  you’ll need to add another <router-outlet> tag, but this outlet must have a name.
  this name has to match (4.2)-->
<router-outlet></router-outlet>
<router-outlet name="aux"></router-outlet>