<h1 class="title">TOH Unit Testing</h1>
<nav>
  <a routerLink="/superheroes" routerLinkActive="active">Heroes</a>
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
  <a routerLink="/admin" routerLinkActive="active">Admin</a>
  <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
  <a routerLink="/reactive-form-example" routerLinkActive="active">Reactive Form Example</a>
  <a routerLink="/template-form-example" routerLinkActive="active">Template Form Example</a>
  <a routerLink="/reactive-form-complex" routerLinkActive="active">Reactive Form Complex</a>
</nav>

<!-- In order to use the routable animations, wrap the routerOutlet inside an element,
  use the @routeAnimation trigger, and bind it to the element. -->
<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
<!-- Named outlets are the targets of secondary routes. -->
<router-outlet name="popup"></router-outlet>
