<h1>Welcome to {{title}}!!</h1>  

<!-- (2)
  To have the browser render the shipping component in the root component (app.component.html)
  you add the <app-shipping> tag to the template of the AppComponent  -->
<app-shipping></app-shipping>         


<!-- Uni-directional binding (from the class variable to the view) -->

<!--  to display a value of a class variable in a template’s string, use double curly braces (called interpolation) -->
<span>span with value: {{spanVal}}</span>

<div></div>

<!-- use square brackets to bind the value from a class variable to the template 
here we bind the value of the class variable (a boolean) and control it. Toggle to true & false to see it change -->
<span [hidden]="true">hidden span</span>


<!-- 
unidirectional binding from the view to a class method. 

// If the button is clicked, invoke the method onClickEvent().
<button (click)="onClickEvent()">Get Products</button>

// As soon as the value of the input field changes, invoke the method onInputEvent()
<input placeholder="Product name" (input)="onInputEvent()">

// If you’re interested in analyzing the properties of the event object, add the $event argument to the method handler.
// here $event represents the native browser event
<input (input)="onInputEvent($event)"> 

-->