<!-- Bootstrap Version -->

<!-- <form name="searchForm">
    <div class="form-group">
        <label for="productTitle">Product title:</label>
        <input type="text" id="productTitle" placeholder="Title" class="form-control">
    </div>
    <div class="form-group">
        <label for="productPrice">Product price:</label>
        <input id="productPrice" name="productPrice" type="number" min="0" placeholder="Price" class="form-control">
    </div>
    <div class="form-group">
        <label for="productCategory">Product category:</label>
        <select id="productCategory" class="form-control"></select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Search</button>
    </div>
</form> -->

<!-- <form #f="ngForm"> -->
<form>
    <mat-form-field>
        <input matInput type="text" placeholder="Product title" name="title">
        <!-- <input matInput type="text" placeholder="Product title" name="title" ngModel> -->
    </mat-form-field>

    <mat-form-field>
        <input matInput type="number" placeholder="Product price" name="price">
        <!-- <input matInput type="number" placeholder="Product price" name="price" ngModel> -->
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Category" name="category" ngModel>
            <mat-option>Diamond</mat-option>
            <mat-option>Gold</mat-option>
            <mat-option>Silver</mat-option>
            <mat-option>Bronze</mat-option>
            <!-- <mat-option *ngFor="let c of categories" [value]="c">{{ c }}</mat-option> -->
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit">
        <mat-icon>search</mat-icon>SEARCH
    </button>
</form>