<a [routerLink]="['/']">Home</a>&nbsp;

<!-- (3.2) KEY: there was no config in (3.1), query param config is done at the template (or the TS for prog nav)
  http://localhost:4200/products?category=sports-template-nav -->
<a [routerLink]="['/product']" [queryParams]="{category: 'sports-template-nav'}">Sports products</a>&nbsp;
<!-- <a [routerLink]="['product', productId]"> Product Detail </a>&nbsp; -->
<!-- comparison to [1] -->

<button (click)="showSportingProducts()">Product Detail</button>

<router-outlet></router-outlet>