<div class="row carousel-holder">
  <div class="col-md-12">
    <!-- carousel component on top -->
    <nga-carousel></nga-carousel>
  </div>
</div>
<div class="row">
  <!-- iterating through the array of products at the ts, each iteration gets a div-->
  <!-- bootstrap grid styles to split the width of the <div> evenly to 3 parts (4x3=12) on any device -->
  <div *ngFor="let product of products" class="col-sm-4 col-lg-4 col-md4">
    <!-- hooking the productItem ( [ ] prop binding template -> ts)  at the ts to iteratee -->
    <nga-product-item [productItem]="product"></nga-product-item>
  </div>
</div>