div.content.sidebar
div.content.sidebar#featured_content
.content.sidebar#featured_content

div
  a(href='http://nodejs.org', target='blank')


div
  strong Select your favorite food
  form
    option(value='Cheese') Cheese
    option(value='Tofu', selected) Tofu

textarea
  | This is some default text
  | that the user should be
  | provided with.

ul
  li: a(href='http://nodejs.org/') Node.js homepage
  li: a(href='http://npmjs.org/') NPM homepage
  li: a(href='http://nodebits.org/') Nodebits blog
