<!-- Bootstrap Version -->

<!-- <div class="thumbnail">
    <img src="http://placehold.it/320x150">
    <div class="caption">
        <h4 class="float-right">{{product.price | currency}}</h4>
        <h4><a [routerLink]="['/products', product.id]">{{product.title}}</a>
        </h4>
        <p>{{product.description}}</p>
    </div>
    <div class="ratings">
        <app-stars [rating]="product.rating"></app-stars>
    </div>
</div> -->

<!-- Angular Material Version -->

<mat-card>
    <mat-card-title>{{ product.title }} </mat-card-title>
    <span>{{ product.price | currency }}</span>
    <img mat-card-image src="http://placehold.it/320x150">
    <mat-card-content>
        {{ product.description }}
    </mat-card-content>
    <mat-card-actions>
        <a mat-button color="accent" [routerLink]="['/products', product.id]">VIEW</a>
    </mat-card-actions>
</mat-card>