:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  height: 16px;
  width: 45px;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  margin: auto;
}