# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
*/.vscode/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log
*.rest

# e2e
/e2e/*.js
/e2e/*.map
/e2e/report
debug.log
cypress.env.json
cypress/videos/*
cypress/screenshots/*

# System Files
.DS_Store
Thumbs.db
