<!-- the navbar goes to the top -->
<nga-navbar></nga-navbar>

<!-- Bootstrap grid system has rules
(BS rule 1) Rows must be placed within a .container (fixed-width) or .container-fluid (full-width) for proper alignment and padding
(BS rule 2) Use rows to create horizontal groups of columns

Out of the box, the Bootstrap grid supports five tiers for different widths of user devices: xs, sm, md, lg, and xl.
For example, md stands for medium devices (992 px (pixels) or more), lg is 1200 px or more, and so on.
In your app component, you want to allocate three columns in medium or larger viewports to the search component (<nga-search>)
and nine columns to the <router-outlet>.
-->
<div class="container">
  <div class="row">
    <!-- (BS rule 3) Content should be placed within columns, and only columns may be immediate children of rows -->
    <!-- 3 columns of the bootstrap flex grid are given to the search component
    i.e. on medium+ take 3 columns, otherwise take the whole width -->
    <div class="col-md-3">
      <!-- renders the search component -->
      <nga-search></nga-search>
    </div>
    <!-- 9 columns are given to the router outlet area -->
    <div class="col-md-9">
      <!-- router outlet area -->
      <router-outlet></router-outlet>
    </div>

  </div>
</div>

<!-- footer component at the bottom -->
<nga-footer></nga-footer>

<!-- other Bootstrap rules
(4) Predefined classes like .row and .col-sm-4 are available for quickly making grid layouts
(5) Columns create gutters (gaps between column content) via padding. That padding is offset in rows for the first and last column via negative margin on .rows
(6) Grid columns are created by specifying the number of 12 available columns you wish to span. For example, three equal columns would use three .col-sm-4
(7) Column widths are in percentage, so they are always fluid and sized relative to their parent element

https://www.w3schools.com/bootstrap/bootstrap_grid_system.asp


Basic bootstrap grid structure

<div class="container">
  <div class="row">
    <div class="col-*-*"></div>
    <div class="col-*-*"></div>
  </div>
  <div class="row">
    <div class="col-*-*"></div>
    <div class="col-*-*"></div>
    <div class="col-*-*"></div>
  </div>
  <div class="row">
    ...
  </div>
</div>

-->