
<!-- Using [(ngModel)] to denote the two-way binding. To use [(ngModel)] you have to import FormsModule in app.module.ts -->
<input type="text"
       placeholder="Enter shipping address"
       [(ngModel)]="shippingAddress">

<button (click)="shippingAddress='123 Main Street'">Set Default Address</button>

<p>The shipping address is {{ shippingAddress }}</p>

<!--
{{  }} displays the value  template <- ts

[ ] denotes property binding; changes class variables:   template -> ts

( ) denotes event binding, calls class methods and changes the template:   template <- ts  , ex: (click)="someMethod()"

To denote two-way binding:  [( )]

-->


<!-- note abot ngModel being outdated
in angular you can do old angular 1 style forms and controls with ngmodel, but it is prefered to use reactive form controls instea

https://angular.io/guide/reactive-forms

formControlName ties it to condrol in a formgroup, created in the component
-->